* {
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 77);
  background-size: 150%;
  background-position: top;
  border-radius: 30px; /* Rounded corners of the scrollbar thumb */
  transition: background-position 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-position: bottom;
 /* Darker color when hovering over the thumb */
}



.logo-text {
  font-weight: 400;
  color: white;
  user-select: none;
  margin-top: 0.05em;
  margin-left: 0.4em;
}

::-webkit-scrollbar-track {
  background-color: #272727; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb:active {
  background-color: #0dc3d8; /* Darker color when dragging the thumb */
}


.card {
  width: 15em;
  height: 15em;
  overflow: hidden;
  position: relative;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .classes {
  
} */

.content {
  /* width:100%; */
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.727);
  backdrop-filter: blur(4px);
  color: rgb(255, 255, 255);
  padding: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.3s ease;
  border: -10px solid red;
}

.card:hover .content {
  opacity: 1;
}


.spacer-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content p:nth-of-type(1) {
  background-image: linear-gradient(to right, #e62878, #7d277e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.2rem;
  font-weight: 700;
  user-select: none;
  margin-bottom: .3em;
  display: flex;
  opacity: 0;
  transition: opacity .3s ease;
}

.content:hover p:nth-of-type(1) {
  opacity: 1;
}

.content p:nth-of-type(2) {
  color: rgb(254, 255, 255);
  font-size: .9rem;
  user-select: none;
  margin-top: .5em;
  margin-bottom: auto;
  font-weight: 200;
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.5s ease;
  
}

.content:hover p:nth-of-type(2) {
  transform: translateY(-10px);
  opacity: 1;
}


.card-image {
  width: 4.5em;
  position: relative;
  left: 13em;
  top: -5em;
  margin-top: auto;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.7s ease;
}

.main-container {
  /* margin-left: 20em; */
  background-color: rgba(113, 227, 132, 0.722);
  /* margin-right: 20em; */
  margin: 1.5em 20em;
  /* border: 1px solid rgba(233, 233, 233, 0.238);
  box-shadow: 3px 3px 4px 1px rgba(106, 106, 106, 0.216); */
  border-radius: 12px;
  padding: 2em;
  height: auto;
}


.hero-name-1 {
  font-size: 4em;
  font-weight: 800;
  line-height: 0.8em;
  text-transform: uppercase;
  background: linear-gradient(76deg, #e62878 0%, #7d277e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.hero-container {
  width: 100%;
  height: 35em;
  overflow: hidden;
  position: relative;
  display: block;
  border-radius: 24px;
}

.hero-container:hover .hero-image {
  scale: 1.05;
}

.aaa {
  background-color: rgba(156, 156, 156, 0);
  width: 52em;
  border-radius: 24px 0 24px 0;
  position: absolute;
  padding: 2em;
  z-index: 5;
}

.hero-name-2 {
  margin-top: .6em;
  margin-bottom: .6em;
  font-size: 2em;
  background: linear-gradient(76deg, #f5eff2 0%, #cbc5c9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-description {
  font-size: 1em;
  height: 100%;
  
  /* text-align: justify; */
  padding: 2em;
  /* padding-top: 12em; */
  position: absolute;
  backdrop-filter: blur(12px);
  font-weight: 200;
  top: 0;
  width: 35em;
  left: 0;
  background-color: rgba(0, 0, 0, 0.582);
  color: #f5eff2;
  /* color: linear-gradient(76deg, #e62878 0%, #7d277e 100%); */
 /*  background: linear-gradient(76deg, #f5eff2 0%, #cbc5c9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

nav {
  display: flex;
  background-color: rgb(19, 19, 19);
  padding: .5em;
  padding-left: 1em;
  align-items: center;
  padding-right: 1em;
  /* box-shadow: 3px 3px 4px 1px rgba(106, 106, 106, 0.216); */
  font-size: 1.5rem;

}
.logo {
  height: 1em;
}


body {
  background: linear-gradient(90deg, #000000 0%, #13010f 100%);
  /* background: linear-gradient(90deg, #550494 0%, #037B96 100%); */
  /* background-color: white; */
  
  background-size: 150%;
  background-position: left;
  transition: background-position 5s ease, background-size 5s ease;
}

body:hover {
  background-position: right;
  background-size: 120%
}

.card-body {
/*   width: 15em; */
 /*  box-shadow: 3px 3px 4px 1px rgba(106, 106, 106, 0.216); */
  border-radius: 12px;
  /* position: relative */
}
/* .card-body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 36px solid rgb(19, 19, 19);
  z-index: 1;
  border-radius: 24px;
  pointer-events: none;
} */
/* img {
  color: white;
  border-radius: 24px;
} */

.card-body .card img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  transition: transform 0.3s ease;
  /* box-shadow: 4px 4px 19px 2px rgba(138, 138, 138, 0.203); */
  border-radius: 24px;
}

.card:hover img {
  transform: scale(1.2);
}

/* img:hover {
  transform: scale(1.2)
} */

.card-info {
  border-radius: 16px 16px 0px 0px;
  border: 1px solid rgba(237, 237, 237, 0.109);
  border-bottom: none;
  background-color: rgb(19, 19, 19);
  height: 10em;
}


.footer-icons {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin-top: auto;
  font-size: 1.5em;
  text-decoration: none;
}

.footer-icons a {
  color: white;
}

.footer-icons a:hover {
  color: #e62878;
}



.footerel {
  position: fixed;
  z-index: 5;
  bottom: 0;
  width: 100vW;
  height: 6em;
  background-color: rgb(19, 19, 19);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first {
  color: white;
  font-weight: 200;
  font-size: .6rem;
  margin-top: .4em;
}

.second {
  color: white;
  font-weight: 200;
  font-size: .7rem;
  margin-bottom: auto;
  margin-top: .5em;
}

.game-price-style {
  user-select: none;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}


.game-price-style:hover {
  color: rgb(255, 255, 255);
}

.game-name {
  /* background-color: rgb(24, 80, 158); */
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  padding: .07em;
  padding-left: .5em;
  border-radius: 12px 12px 0 0;
}



.spacer {
  display: flex;
  height: 5.7em;
  margin-top: .2em;
  flex-direction: column;
  justify-content: space-between;
}
.card-description {
  font-size: 12px;
  font-weight: 300;
  margin-left: 1em;
  margin-bottom: auto;
  width: 160px;
  color: white
}

.newdiv {
  background-color: white;
  padding: .4em;
  height: 2em;
  display: flex;
  align-items: center;
  border-radius: 6px 0 0 6px;
}


.purchase {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-price {
  /* display: inline;
  box-shadow:  3px 3px 2px 1px rgba(0, 0, 0, 0.136);
  background-color: rgb(255, 255, 255);
  color: rgb(40, 201, 40);
  padding: .2em;
  opacity: 0;
  font-weight: 500;
  margin-bottom: .4em;
  border-radius: 5px; */
  color: white;
  opacity: 0;
  margin-bottom: 0.2em;
  font-size: 1.3rem;
  font-weight: 300;
  width: 3.8em;
  user-select: none;
 /*  KURAC KURAC KURAC KURAC KURAC AAAAAAAAAAAAAAAAAAAAA */
  transition: opacity 0.31s ease;
}

.card:hover .card-price {
  opacity: 1;
  /* box-shadow: 0px 0px 54px -6px rgba(208, 33, 211, 0.56); */
}


.card-buy {
  background: linear-gradient(44deg, #e62878, rgb(189, 10, 10));
  display: flex;
  cursor: pointer;
  background-size: 130%;
  background-position: right;
  align-items: center;
  /* animation: glowing 3s infinite alternate; */
  justify-content: center;
  padding-top: 0px;
  height: 32px;
  color: rgb(243, 243, 243);
  user-select: none;
  border-radius: 5px;
  box-shadow:  3px 3px 2px 1px rgba(0, 0, 0, 0.136);
  opacity: 0;
  transition: background-position .2s ease, transform 0.15s, color .2s, opacity .5s ease;
  /* margin-right: auto; */
}

.card:hover .card-buy {
  opacity: 1;
  color: white;
}

.card:hover .card-remove {
  opacity: 1;
  color: white;
}


.card-remove {
  background: linear-gradient(75deg, #e62878, #a937c6 48.44%, #7d277e 100%);
  background-size: 130%;
  cursor: pointer;
  box-shadow:  3px 3px 2px 1px rgba(0, 0, 0, 0.136);
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  height: 32px;
  color: white;
  user-select: none;
  border-radius: 5px;
  /* margin-right: auto; */
  transition:background-position .2s ease, transform 0.15s, color .2s, opacity 0.5s ease;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0% 0%; /* Initial position */
  }
  100% {
    background-position: 100% 100%; /* Final position */
  }
}



.card-remove:hover {
  background-position: left;
  /* transform: translateY(-3px); */
}

.card-buy:hover {
  background-position: left;
}





.nav-right-side {
  /* color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  margin-left: auto;
}

.about-wrapper {
  color: white;
  user-select: none;
}

.about {
  color: rgb(228, 228, 228);
}

.games {
  text-decoration: none;
  color: rgb(228, 228, 228);
}

.contact {
  text-decoration: none;
  color: rgb(228, 228, 228); 
}
 
.sign-in {
  color: rgb(246, 246, 246);
  box-shadow: inset 3px 3px 4px 1px rgba(106, 106, 106, 0.216);
  background: linear-gradient(111deg, #e62878 0%, #7d277e 100%);
  /* background: linear-gradient(111deg, #550494 0%, #037B96 100%); */
  background-size: 130%;
  background-position: left;
  text-decoration: none;
  border-radius: 4px;
  padding: .6em 1.2em;
  transition: background-position 0.3s ease;
  font-size: 1rem;
  font-weight: 300;
}

.sign-in:hover {
  background-position: right;
  color: white
}

.sign-in:active {
  box-shadow: inset 3px 3px 7px -2px rgba(0, 0, 0, 0.4);
}

nav a {
  text-decoration: none;
  font-weight: 200;
  font-size: 1rem;
}

nav a:hover {
  color: rgb(255, 255, 255);
}

.wrapper {
  display: flex;
  /* overflow: scroll; */
  justify-content: space-between;
  max-width: 80em;
  height: 40em;
  margin: auto;
  /* background-color: rgb(199, 35, 35); */
}

.other {
  font-size: 1.5rem;
  display: flex;
  color: rgb(227, 227, 227);
  align-items: center;
  margin-top: auto;
  font-weight: 300;
}



.total {
  margin-top: auto;
  margin-left: .2em;;
  background: linear-gradient(76deg, #04AE34 0%, #06731E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  
}

.checkout-button {
  background: linear-gradient(110deg, #7d277e 0%, #ec6da8 48.44%, #e62878 100%);
  padding: .5em;
  user-select: none;
  display: flex;
  margin-top: .4em;
  justify-content: center;
  color: rgb(249, 249, 249);
  border-radius: 8px;
  background-size: 120%;
  background-position: right;
  font-size: 1.3rem;
  font-weight: 200;
  transition: background-position .2s, color .2s, box-shadow .2s;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.099);
}

.button {
  position: absolute;
  left: 1.8em;
  bottom: 20em;
  text-decoration: none;
  width: 8em;
  background: linear-gradient(111deg, #e62878 0%, #7d277e 100%);
  padding: .5em;
  user-select: none;
  display: flex;
  margin-top: .4em;
  justify-content: center;
  color: rgb(249, 249, 249);
  border-radius: 8px;
  background-size: 120%;
  background-position: right;
  font-size: 1.1rem;
  font-weight: 200;
  transition: background-position .2s, color .2s, box-shadow .2s;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.099);
}

.button:hover {
  background-position: left;
    color: white;
    cursor: pointer;
}



.button:focus {
  outline: none;
}
.button:active {
  box-shadow: inset 3px 3px 7px -2px rgba(0, 0, 0, 0.4);
}

button {
  z-index: 2;
}

.checkout-button:hover {
  background-position: left;
    color: white;
    cursor: pointer;
}
.checkout-button:focus {
  outline: none;
}
.checkout-button:active {
  box-shadow: inset 3px 3px 7px -2px rgba(0, 0, 0, 0.4);
}

.totalmoney {
  color: red;
  margin-top: auto;
  
}

.cart-up {
  font-weight: 400;
  font-size: 1.4rem;
  color: rgb(252, 56, 128);
  margin-bottom: .3em;
}

.logo-stat {
  display: flex;
  justify-content: space-between;
  background-color: red;
}

nav a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.discard {
  color: white;
  margin-left: .5em;
  margin-right: none;
  width: 40px;

}

.thingy {
  display:flow-root;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  width: 15em;
}

.top-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  user-select: none;
  border-bottom: 1px solid rgb(123, 123, 123);
}

.cart-holder {
  width: 20em;
  /* height: 29.5em; */
  height: 43em;
  margin-top: 1em;
  /* border: 1px solid rgba(214, 202, 222, 0.199); */
  
  background-color: rgb(19, 19, 19);
  border-radius: 24px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.075);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.game-name-style {
  
  transition: color 0.3s ease;
  font-weight: 200;
  user-select: none;
}

.game-name-price {
  font-weight: 200;
  user-select: none;
  margin-left: auto;
}

.game-name-style:hover {
  color: rgb(255, 255, 255);
}

.checkout-container {
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  color: black;
  border-bottom:1px solid #d0d0d08f;
}

.checkout-container:last-of-type {
  border-bottom: none;
}

.checkout-container p, h2 {
  color: rgb(219, 219, 219);
  transition: color 0.3s ease;
}

.checkout-container:hover p {
  color: rgb(255, 255, 255);
}

.checkout-container:hover h2 {
  color: rgb(255, 255, 255);
}



.games-holder {
  display: grid;
  column-gap: 4em;
  /* gap: 0.2em; */
  /* background-color: red; */
  height: 22em;
  /* margin-left: 8em; */
  grid-template: auto auto auto / repeat(3, 1fr);
}

.logo-style {
  width: 2.9em;
  margin: none;
  border-radius: none;
}

.form-container {
  width: 30em;
  height: 40em;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background-color: rgb(19, 19, 19);
  margin: 2em auto;
  padding: 2em;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.contact-form-container {
  width: 30em;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  /* background-color: rgb(19, 19, 19); */
  /* margin: 2em auto; */

  display: flex;
  transition: width 0.6s ease;
}


.form--input {
  height: 3em;
  padding: 1em;
  font-weight: 200;
  font-size: 1rem;
  color: white;
  border-radius: 24px;
  border: none;
  background: rgba(187, 174, 182, 0.245);
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.084)
}

.form--input::placeholder {
  color: white;
  font-weight: 200;
}


.form--marketing {
  color: white;

}


.form--submit {
  color: rgb(246, 246, 246);
  background: linear-gradient(111deg, #e62878 0%, #7d277e 100%);
  /* background: linear-gradient(111deg, #550494 0%, #037B96 100%); */
  background-size: 130%;
  background-position: left;
  text-decoration: none;
  border-radius: 4px;
  padding: .6em 1.2em;
  transition: background-position 0.3s ease;
  font-size: 1rem;
  font-weight: 300;
  border: none;
  box-shadow: 3px 3px 1px 1px rgba(11, 11, 11, 0.182);
}

.form--submit:hover {
  background-position: right;
  color: white;
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
  margin-right: 1em;
}

.signup {
  
}

.sign-title {
  color: white;
  background: linear-gradient(76deg, #e62878 0%, #7d277e 100%);
  background-clip: text;
  user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.sign-desc {
  user-select: none;
  background: linear-gradient(76deg, #f5eff2 0%, #cbc5c9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 1em;
  margin-bottom: 2em;
}



.contact-wrapper {
  display: flex;
  background-color: rgb(19, 19, 19);
  padding: 2em;
  border-radius: 24px;
  width: 100%;
  justify-content: space-between;
}

.textareaform {
  padding: 1em;
  font-weight: 200;
  height: 10em;
  margin-bottom: auto;
  color: white;
  font-size: 1rem;
  border-radius: 24px;
  border: none;
  background: rgba(187, 174, 182, 0.245);
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.084)
}

.textareaform::placeholder {
  color: white;
}

.contact-title {
  font-size: 4em;
  font-weight: 800;
  line-height: 0.8em;
  line-height: 0.8em;
  user-select: none;
  background: linear-gradient(76deg, #e62878 0%, #7d277e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-title-des {
  background: linear-gradient(76deg, #f5eff2 0%, #cbc5c9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  margin-top: .6em;
  margin-bottom: .6em;
  font-size: 2em;
  font-weight: 600;
}


.contact

.contact-header {
  background: linear-gradient(76deg, #e62878 0%, #7d277e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  margin-bottom: 1em;
}

.contact-header2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .4em;
  background: linear-gradient(76deg, #e62878 0%, #7d277e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  
}

.contact-styled-h {
  background: linear-gradient(76deg, #e62878 0%, #7d277e 100%);
  background-clip: text;
  margin-bottom: .4em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  
}


.contact-desc {
  color: white;
  border-bottom: 1px solid #dd3f818c;
  padding-bottom: 1.3em;
  margin-bottom: 1em;
}

/* TICTACTOE TICTACTOE TICTACTOE TICTACTOE TICTACTOE TICTACTOE  */
/* TICTACTOE TICTACTOE TICTACTOE TICTACTOE TICTACTOE TICTACTOE  */
/* TICTACTOE TICTACTOE TICTACTOE TICTACTOE TICTACTOE TICTACTOE  */

.x::after {
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 16px;
  position: absolute;
  background-color: rgba(107, 107, 107, 0.113);
  box-shadow: 0px 0px 5px 2px rgba(10, 10, 10, 0.243);
 /*  z-index: -1; */
  mix-blend-mode: multiply;
}

.o::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 16px;
  position: absolute;
  background-color: rgba(107, 107, 107, 0.113);
  box-shadow: 0px 0px 5px 2px rgba(10, 10, 10, 0.243);
  /* z-index: -1; */
  mix-blend-mode: multiply;
}

.o {
  width: 2em;
  flex: 33%;
  z-index: 2;
  /* height: 100%; */
  /* border: 5px solid rgb(0, 0, 0); */
  /* border-image: linear-gradient(to right, #f06, #9f6) 1; */
  cursor: pointer;
  display: grid;

  place-items: center;
  font-size: 30px;
  background: linear-gradient(76deg, #e0e1e1 0%, #28e6c0 0%, #27627e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 190%;
  background-position: right;
  transition: background-position 0.2s ease;
  font-size: 5em;
  font-weight: 700;
  border-radius: 24px;

  /* background: linear-gradient(111deg, #e62878 0%, #7d277e 100%);
  background-size: 140%;
  background-position: left;
  transition: background-position 0.3s ease;
  user-select: none; */

}

.x {
  width: 2em;
  flex: 33%;
  z-index: 2;
  /* height: 100%; */
  /* border: 5px solid rgb(0, 0, 0); */
  /* border-image: linear-gradient(to right, #f06, #9f6) 1; */
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
  background: linear-gradient(45deg, #e62878 0%, #7d277e 100%, #f7e1f7 100%);
  background-clip: text;
  background-size: 190%;
  background-position: right;
  transition: background-position 0.2s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5em;
  font-weight: 700;
  border-radius: 24px;

  /* background: linear-gradient(111deg, #e62878 0%, #7d277e 100%);
  background-size: 130%;
  background-position: left;
  transition: background-position 0.3s ease;
  user-select: none; */

}

.x:hover {
  background-position: left;
}
.o:hover {
  background-position: left;
}


/* .square:active {
  background-color: #bda5c781;
} */
.App {
  /* width: 40em; */
  /* margin-top: 5em; */
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 500px;
  height: 500px;
  background: rgb(19, 19, 19);
  padding: 2em;
  /* border: 5px solid rgb(172, 59, 59); */
  display: flex;
  /* margin: auto; */
  flex-direction: column;
  border-radius: 20px;
  /* z-index: -5; */
  gap: 20px;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.x {
  color: red;
}

.o {
  color: green;
}